<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DefaultConnection"
         connectionString="Server=856c5f47-8db8-44df-9bb5-a44a005cfc88.sqlserver.sequelizer.com;Database=db856c5f478db844df9bb5a44a005cfc88;User ID=wvzfqatrrtayyfch;Password=eXYvwKpY6aC8FqQBaMwLeeuEgCPAjkQYsJTahnpsJfpLFUizeG7uYBmaBsp24WNU;"/>
  </connectionStrings>
</configuration>